.card{
    margin: 1rem;
    overflow: hidden;
}

.overview{
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    right:0;
    bottom:0;
    background-color:black;
    color:beige;
}
.card:hover .overview{ 
    transform:translateY(0);
}