.card{
    margin: 1rem;
    overflow: hidden;
    min-height: 600px;
    max-height: 600px;
    z-index: 999;
}
body{
    background-image: url("cinema-background.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    overflow: scroll;
}

.card-body{
    background-color: rgb(90, 90, 226);
}
.card-title{
    color: azure;
    border-color: black;
}

.overview{
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    right:0;
    bottom:0;
    background-color:black;
    color:beige;
}
.card:hover .overview{ 
    transform:translateY(0);
}